.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .footer-links {
        width: 25%;
        .footer-link-social {
                display: flex;
                align-items: center;
                justify-content: space-between;
            img {
                width: 20%;
            }
        }
    }
    .footer-pages {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 10%;
    }
    .footer-store{
        display: flex;
        width: 25%;
    }
}