<section class="footer">
    <div class="footer-links">
        <p>auto.market</p>
        <p class="footer-link-social">
            <img src="assets/icons/instagram-brands.svg" class="icon">
            <img src="assets/icons/facebook-f-brands.svg" class="icon">
            <img src="assets/icons/twitter-brands.svg" class="icon">
        </p>
    </div>
    <div class="footer-pages">
        <div>
            <ul>
            <li>Home</li>
            <li>Sell car</li>
            <li>Bay car</li>
            <li>Dealers</li>
            </ul>
        </div>
        <div>
            <ul>
            <li>Trems of Use</li>
            <li>Privacy Policy</li>
            <li>Cookie Policy</li>
            <li>AdChoice</li>
            </ul>
        </div>
        <div>
            <ul>
            <li>Home</li>
            <li>Sell car</li>
            <li>Bay car</li>
            <li>Dealers</li>
            </ul>
        </div>
    </div>
    <div class="footer-store">
        <ul>
            <li>
                <img src="./assets/images/applestore.png" width="100%">
            </li>
            <li>
                <img src="./assets/images/googleplay.png" width="100%">
            </li>
            <li>
            <select>
                <option>
                    <img src="assets/icons/canada.jpeg"> English
                </option>
                <option>
                    Ukrainian
                </option>
            </select>
            </li>
        </ul>
    </div>
</section>