.container {
  max-width:  1440px;
  margin: auto;
  height: auto;
  // font-size: 18px;
  
  .title {
    text-align: center;
    margin-top: 250px;
    h1 {
      font-family: 'ProximaNova-Bold';
      font-size: 72px;
      font-weight: bold;
    }
    h3 {
      font-family: 'ProximaNova-Light';
      font-size: 32px;
    }
    .advanced-search {
      margin: auto;
      max-width: 78%;
      color: #9c9c9c;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 5px;
    }
    .nav-bar {
      display: flex;
      align-items: center;
      // justify-content: center;
      margin: auto;
      max-width: 85%;
      background: #fff;
      border-radius: 15px;
      // border: 1px solid red;
      .location {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #A9A9A9;
        padding-left: 15px;
        padding-right: 15px;
        width: 45%;
        span {
          width: 100%;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
        .icon:first-child {
          padding: 0 10px 0 0;
        }
        .icon:last-child {
          width: 16px;
          height: 16px;
          padding: 0 0 0 45%;
        }
      }
      .model-car {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #A9A9A9;
        color: #A9A9A9;
        padding-left: 15px;
        width: 25%;
        .icon {
          width: 16px;
          height: 16px;
        }
        .icon:first-child {
          padding: 0 10px 0 0;
        }
        .icon:last-child {
          width: 16px;
          height: 16px;
          padding: 0 10px 0 10px;
        }
      }
      .price-car {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #A9A9A9;
        padding-left: 15px;
        width: 25%;
        .icon {
          width: 24px;
          height: 24px;
        }
        .icon:first-child {
          padding: 0 10px 0 0;
        }
        .icon:last-child {
          padding: 0 15px 0 50px;
        }
        // img:last-chaild {

        // }
      }
      .search-car {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        color: #fff;
        background-color: #e6541c;
        border-radius: 0 15px 15px 0;
        padding: 20px 0;
        span {
          padding-left: 10px;
        }
      }
    }
  }

  .sector-market {
    margin-top: 300px;
  }

  .sector-search {
    margin-top: 150px;
    h3 {
      font-size: 36px;
      margin: 0;
    }
  }

  .sector-tab {
    margin-top: 150px;
    .tab {
      display: flex;
      justify-content: space-between;
      margin: auto;
      max-width: 400px;
      padding: 0 10px;
      border-bottom: 1px solid #9c9c9c;
      margin-bottom: 25px;
      .default-tab {
        padding-bottom: 8px;
      }
      .active-tab {
        color: #e6541c;
        padding-bottom: 8px;
        border-bottom: 2px solid #e6541c;
      }
    }
  }

  .sector-by-body {
    margin-top: 150px;
    h3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 36px;
      span {
        display: flex;
        align-items: center;
        font-size: 16px;
        .icon {
          width: 16px;
          height: 16px;
          margin-left: 25px;
        }
      }
    }
    .type-car {
      display: flex;
      justify-content: space-between;
      .item {
        border-radius: 15px;
        width: 150px;
        height: 100%;
        text-align: center;
        box-shadow: 2px 2px 25px -6px rgba(0,0,0,0.48);
        padding: 30px 10px;
        img {
          border-radius: 15px 15px 0 0;
          width: 100%;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  .most-popular {
    margin-top: 150px;
    h3{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 36px;
      span {
        display: flex;
        align-items: center;
        font-size: 18px;
        span {
          margin-left: 25px;
        }
        .icon {
          width: 24px;
          height: 24px;
          margin-left: 25px;
        }
        .icon:last-child {
          width: 16px;
          height: 16px;
          margin-left: 25px;
        }
      }
    }
  }

  .sector-makes {
    margin-top: 150px;
    margin-bottom: 150px;
    h3 {
      font-size: 36px;
    }
  }

}

li {
  list-style-type: none;
}

a {
  color: #A9A9A9;
  text-decoration: none;
}

a:hover {
  color: #000;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
}

.active {
  color: #000;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
}

.icon {
  width: 24px;
  height: 24px;
}