<div class="container">
  <app-header></app-header>
  <div class="title">
    <h3>Marketplace for buyers and sellers who love cars</h3>
    <h1>Find your next car here</h1>
    <span class="advanced-search">Advanced search</span>
    <nav class="nav-bar">
      <div class="location">
        <img src="assets/icons/map-marker.svg" alt="" class="icon">
        <span>Toronto (+100km)</span>
        <img src="assets/icons/chevron-down-solid.svg" alt="" class="icon">
      </div>
      <div class="model-car">
        <img src="assets/icons/car-alt-solid.svg" alt="" class="icon">
        <span>Brand and model</span>
        <img src="assets/icons/chevron-down-solid.svg" alt="" class="icon">
      </div>
      <div class="price-car">
        <img src="assets/icons/wallet-solid.svg" alt="" class="icon">
        <span>Max price</span>
        <img src="assets/icons/chevron-down-solid.svg" alt="" class="icon">
      </div>
      <div class="search-car">
        <img src="assets/icons/search-solid.svg" alt="" class="icon">
        <span>Search</span>
      </div>
    </nav>
  </div>

  <section class="sector-market">
    <h3>Market status</h3>
    <div class="slader-1">
    </div>
    <app-slider [typeSlide]="'null'"></app-slider>
  </section>

  <section class="sector-search">
    <h3>Continue your search</h3>
    <p>All markes, +1 filter</p>
    <app-slider [typeSlide]="'picture-price'" [dataSourse]="Slider2"></app-slider>
  </section>

  <section class="sector-tab">
    <div class="tab">
      <div>Most selling</div>
      <div class="active-tab">Best selling</div>
      <div>Most visited</div>
    </div>
    <div class="carouse">Slader 3</div>
  </section>

  <section class="sector-by-body">
    <h3>Browser by body type <span>See all <img src="assets/icons/chevron-right-solid.svg" alt="" class="icon"></span></h3>
    <app-slider [typeSlide]="'by-car'" [dataSourse]="Slider4"></app-slider>
  </section>

  <section class="most-popular">
    <h3>Most popular in Canada 
      <span>
        <img src="assets/icons/map-marker.svg" alt="" class="icon">
        <span>Toronto (+100km)</span>
        <img src="assets/icons/chevron-down-solid.svg" alt="" class="icon">
      </span>
    </h3>

  </section>

  <section class="sector-makes">
    <h3>Popular makes</h3>
    <app-slider [typeSlide]="'emblem-car'" [dataSourse]="Slider6"></app-slider>
  </section>

  <app-footer></app-footer>
</div>

