<section class="header">
    <div class="logo">auto.market</div>
    <ul class="menu">
        <li><a href="" class="active">Home</a></li>
        <li><a href="">Sell car</a></li>
        <li><a href="">Bay car</a></li>
        <li><a href="">Market</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <div class="user-setting">
        <img src="assets/icons/car-foor.svg" class="icon">
        <img src="assets/icons/star-regular.svg" class="icon">
        <div class="button">
            <img src="assets/icons/user-regular.svg" alt="" class="icon">
            <span>Sing in</span>
        </div>
        <div class="active-button">
            <span>Sing up</span>
        </div>
    </div>
</section>