.header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    background: #e2e2e2;
    opacity: 0.8;
    padding-bottom: 40px;
    .logo {
        justify-content: flex-start;
        width: 15%;
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        padding: 0;
        ul {
            padding: 0;
            margin: 0;
        }
    }

    .user-setting {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        img:first-child {
            padding-right: 30px;
        }
        .button {
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding: 10px 30px;
        }
        .active-button {
            color: #fff;
            background: #e6541c;
            border-radius: 5px;
            padding: 15px 30px;
        }
    }

}

// .container {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//     margin-right: 0;
//     padding: 1em;
//     color: #fff;
//     .menu-toogle {
//         padding-left: 5px;
//         padding-right: 5px;
//     }
//     .logo {
//         width: 100%;
//         padding-left: 5px;
//         padding-right: 5px;
//     }
//     .not-item {
//         width: 100%;
//     }
//     .theme {
//         padding-left: 5px;
//         padding-right: 5px;
//     }
//     .message {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         // border-left: 1px solid #c2c2c2;
//         .chat {
//             padding: 5px;
//             // border-right: 1px solid #c2c2c2;
//         }
//         .alert {
//             padding: 5px;
//         }
//     }
//     .profile {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         // border-left: 1px solid #c2c2c2;
//         padding: 5px;
//         .avatar{
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             // width: 100%;
//             width: max-content;
//             .ava {
//                 margin: 5px;
//             }
//             .username {

//             }
//         }
//     }
// }