body {
  padding: 0;
  margin: 0;
  background-image: url('assets/images/car.png');
  background-size: 100%;
  background-position-x: center;
  // background-position-y: 27%;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  max-width:  1170px;
  margin: auto;
  height: auto;
  font-size: 18px; 
}

li {
  list-style-type: none;
}

a {
  color: #A9A9A9;
  text-decoration: none;
}

a:hover {
  color: #000;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
}

.active {
  color: #000;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
  font-weight: bold;
}

.active-tab {
  color: #e6541c;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
}

.icon {
  width: 24px;
  height: 24px;
}