@font-face {
	font-family: ProximaNova-Regular;
	src: url("./assets/fonts/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
	font-family: ProximaNova-Bold;
	src: url("./assets/fonts/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
	font-family: ProximaNova-Light;
	src: url("./assets/fonts/ProximaNova-Light.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  background-image: url('assets/images/car.png');
  background-size: 100%;
  background-position-x: center;
  // background-position-y: 27%;
  background-repeat: no-repeat;
  background-color: #e8e8e8;
}

.container {
  max-width:  1170px;
  margin: auto;
  height: auto;
  font-size: 18px; 
}

li {
  list-style-type: none;
}

.active-tab {
  color: #e6541c;
  padding-bottom: 8px;
  border-bottom: 2px solid #e6541c;
}

.icon {
  width: 24px;
  height: 24px;
}

